<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="emailSender" class="com.tp.partie3.EmailSender"/>

    <bean id="notificationService" class="com.tp.partie3.NotificationService">
        <constructor-arg ref="emailSender"/>
    </bean>

    <context:component-scan base-package="com.tp.partie3"/>

</beans>