<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="emailSender" class="com.tp.partie2.EmailSender"/>

    <bean id="notificationService" class="com.tp.partie2.NotificationService">
        <constructor-arg ref="emailSender"/>
    </bean>

</beans>